@import "assets/scss/colors";
@import "assets/scss/animate";

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --dark-blue: #{$dark-blue};
  --light-gray: #{$light-gray};
  --dark-gray: #{$dark-gray};
  --error-color: #{$error-color};
  --light-gray-background: #{$light-gray-background};
  --ltr-font: 'Figtree';
  --purple-color: #{$purple};

}
.main-content{
  --plyr-color-main:#ed3b39;
  --plyr-control-radius:50%;
  --plyr-control-spacing:20px;
}
@mixin before-footer-menu($color) {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    z-index: -1;
    background-image: url('data:image/svg+xml, %3Csvg id="triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 100 100"%3E%3Cpolygon fill="%23#{$color}" points="100 0, 100 100, 0 100"/%3E%3C/svg%3E');
  }
}

html {
  font-size: 14px;
  line-height: 1.15;
}

body {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--ltr-font);
}

a, .btn {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: unset;
  }
}

.swiper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }
}

.carousel-inner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  @extend .swiper;

  .carousel-title {
    font-size: 54px;
    font-weight: 900;
  }

  .carousel-caption {
    color: #fff;

    p {
      margin-bottom: 2rem;
      font-size: 0.9rem;
    }
  }
}

p {
  line-height: 2rem;
}

.carousel-caption {
  left: 10%;
  right: 5%;
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-fill {
  svg {
    path {
      fill: var(--secondary-color);
    }
  }
}

.primary-fill {
  svg {
    path {
      fill: var(--primary-color);
    }
  }
}

.home-cta {
  color: #fff;
  background-color: var(--dark-blue);
  padding-top: 10rem;
  padding-bottom: 9rem;

  p {
    color: inherit;
  }

  .white-btn {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@mixin sahab-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s;
  z-index: 1;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  &:hover {
    background-color: transparent;

    &:before {
      transition: all 0.5s;
      //z-index: -1;
      transform: translateX(0);
    }
  }
}

.sahab-btn {
  @include sahab-btn;
}
.fe-padcast-image{
  img{
    border-radius: 0.8rem;
  }
}
#home-slider, #home-cta,.main-content {
  .sahab-btn {
    padding: 0.9rem 3rem;
  }
}
.fe-podcast-content{
  p{
    font-size: 1.1rem;
  }
}
#home-slider {
  .sahab-btn {
    &:hover {
      color: var(--primary-color);
    }
  }
}
.main-content{
  .sahab-btn{
    color: #fff;
    &:hover{
      color:var(--primary-color)
    }
  }
}
#home-slider, #home-podcast, #home-cta, .insights-single,.main-content {
  .sahab-btn {
    &:before {
      border-bottom: 80px solid #fff;
    }
  }
}

#home-skills {
  .sahab-btn {
    padding: 1rem;
    width: 70%;

    &:before {
      border-bottom: 80px solid var(--secondary-color);
    }
  }
}

#home-podcast .sahab-btn {
  padding: 1rem;
}

#home-cta .sahab-btn.white-btn {
  &:hover {
    color: var(--dark-blue) !important;
  }
}

#home-podcast .sahab-btn, #home-cta .sahab-btn.secondary-bg {
  color: var(--dark-blue);

  i {
    font-size: x-small;
    transition: all 0.3s;
  }

  &:hover {
    i {
      color: var(--dark-blue)

    }
  }
}

.search-btn, .form-control, .form-select {
  &:focus {
    box-shadow: none;
  }
}

.search-btn, .form-control {
  &:hover {
    color: var(--secondary-color);
  }
}

.svg-icon {
  position: absolute;
}

.cta-box-wrap, #home-podcast {
  .svg-icon {
    width: 1.5rem;
  }

  .secondary-fill {
    top: -5rem;
    right: 3rem;
  }

  .primary-fill {
    bottom: -3rem;
    left: -2.2rem;
  }
}

.intro-row{
  margin-bottom: 55px;
  border: 1px solid #eee;
  padding: 15px 7px;
  background: #eee;
  border-radius: 7px;
  box-shadow: 0 0 17px #00000033;
  align-items: center;
}

.bg-light-gray {
  background-color: var(--light-gray-background);
}

.solutions-box {
  background: transparent url(assets/imgs/text-bg.svg) no-repeat;
  background-size: auto;
  background-size: cover;
  padding: 24px 25px;
  height: 95px;
  position: relative;

  p {
    text-align: center;
  }

  .svg-icon {
    &.secondary-fill {
      top: -1rem;
      left: 0;
      width: 1.7rem;
    }

    &.primary-fill {
      bottom: -1rem;
      right: 0;
      width: 1.9rem;
    }
  }
}

.skills-content-wrap {
  padding: 25px 30px 60px;
}

.skills-intro, .skills-cards {
  margin-bottom: 2rem;
}

.solution-card {
  padding: 15px;
  margin-bottom: 25px;
}

@mixin circleBefore($color) {
  &::before {
    content: '\f111';
    font-family: FontAwesome;
    //content: '';
    //background-image: url(assets/imgs/circle-solid.svg);
    //background-image:  url("data:image/svg+xml;utf8,<svg height='100' width='100'> <circle cx='50 cy='50' r='40' fill='#{$color}' /> </svg>");
    //background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
    position: absolute;
    //background-size: 300px 100px;
  }
}

//@mixin element-color($color) {
//  background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
//}


.carousel-caption {
  bottom: 52%;
  transform: translateY(50%);

}

.logo-header {
  max-width: 120px;
  display: block;
}

.slider-nav {
  position: absolute;
  bottom: 15%;
  right: 15%;
  z-index: 1;

  .swiper-button-next1, .swiper-button-prev1, .swiper-pagination1 {
    position: static;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
  }

  .swiper-pagination-bullet-active {
    @extend .swiper-pagination-bullet;
  }

  .swiper-button-next1, .swiper-button-prev1 {
    margin: 0;
    color: var(--secondary-color);

    &:after {
      font-size: small;
    }
  }
}

.home-header {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  padding-top: 45px;
  color: #fff;
}

.nav-wrap {
  ul.sub-menu {
    position: absolute;
    width: 250px;
    left: 0;
    top: 100%;
    opacity: 0;
    background: #fff;
    visibility: hidden;
    transition: all 0.5s;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .09) !important;
    z-index: 1000;
    border-radius: 10px;
    pointer-events: none;
    filter: blur(10px);
    padding: 5px 0;

    li {
      padding: 0;
    }

    a {
      color: var(--dark-blue);
      padding: 0.5rem 1rem;
      display: block;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

i {
  //vertical-align: middle;
}

.nav-wrap ul > li > a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: .2s all ease-out;
}

.nav-wrap {
  li {
    padding: 13px 7px;
    position: relative;
  }

  a {
    padding: 15px 10px;
    transition: all 0.3s;
    position: relative;

    &:hover {
      color: var(--secondary-color)
    }

  }

  a:hover {
    &:before {
      transform: scale(1);
    }
  }

  .menu-item-has-children > a::after {
    content: '\f078';
    font-family: "Font Awesome 6 Pro";
    font-size: 0.7rem;
    margin-left: 1rem;
    display: inline-block;
    color: inherit;
  }

  .menu-item-has-children {
    &:hover > ul.sub-menu {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
      pointer-events: auto;
      filter: blur(0);

    }
  }

  .sub-menu {
    a::before {
      content: none;
    }

    .menu-item-has-children > a::after {
      content: '\f054';
      font-family: "Font Awesome 6 Pro";
      font-size: 0.7rem;
      margin-right: 1rem;
      display: inline-block;
      color: var(--dark-blue);
      vertical-align: middle;
      position: absolute;
      right: 1rem;
    }

    li {
      .sub-menu {
        top: 0;
      }

      &:hover {
        .sub-menu {
          left: 100%;
        }
      }
    }
  }
}

header {
  .header-cta-link {
    &:before, &:after {
      opacity: 0;
      transition: all 0.3s;
      color: var(--secondary-color);
      display: inline-block;
    }

    &:before {
      content: '[';
      transform: translateX(-20px);
    }

    &:after {
      content: ']';
      transform: translateX(20px);
    }

    &:hover {
      color: unset;

      &:before, &:after {
        opacity: 1;
      }

      &:before {
        transform: translateX(-10px);
      }

      &:after {
        transform: translateX(10px);
      }
    }
  }
}

.delay1 {
  animation-delay: 0.15s;
}

.delay2 {
  animation-delay: 0.5s;
}

.delay3 {
  animation-delay: 0.65s;
}

#customer-landing {
  padding: 6rem 0;

  .customer-carousel-wrapper {
    position: relative;

    .customer-carousel {
      padding-bottom: 5rem;
      width: 90%;
    }

    .swiper-slide {
      img {
        width: 100%;
        margin-bottom: 2rem;
      }

      .landing-card-title {
        text-align: center;
        font-weight: bold;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      position: absolute;
      color: var(--secondary-color);

      &:after {
        font-size: 1rem;
      }
    }

    .swiper-pagination-bullet {
      transition: all 0.3s;
      background: var(--dark-blue);
    }
  }
}

#responsive-menu {
  color: #000;
  width: 18rem;
}

#advantage-landing {
  .advantage-row {
    justify-content: center;
    text-align: center;
    margin-top: 3rem;

    .image-wrap {
      width: 7.5rem;
      height: 7.5rem;
      margin-bottom: 30px;
      margin: 0 auto 30px;
      text-align: center;
      line-height: 60px;
      padding: 25px;

      img {
        width: 100%;
      }
    }

    .advantage-title {
      color: var(--purple-color);
      font-size: 1rem;
      line-height: 2;
    }
  }
}

.home-title {
  i {
    position: relative;
    @include before-footer-menu($before-footer-menu);

    &:after {
      transform: rotate(180deg);
    }
  }
}

#customer-landing {
  position: relative;
  z-index: 0;
}

.btn:focus {
  box-shadow: none;
}

@mixin blue-btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.childer {
  @include blue-btn;
  position: absolute;
  right: 0;
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.btn-close{
  background-image: none;
}
#responsive-menu .btn-close {
  @include blue-btn;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: #fff;
    opacity: 1;
  }
}

.main-menu-mobile {
  flex-wrap: nowrap;

  a:hover {
    color: var(--secondary-color);
  }

  .sub-menu {
    .menu_back_holder {
      border-bottom: 1px solid #eee;
      padding: 1.1rem 0;

      i {
        vertical-align: middle;
      }
    }

    flex-wrap: nowrap;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    padding: 0 1rem;
    transform: translateX(-100%);
    transition: all 0.3s;

    &.come-submenu {
      transform: translateX(0) !important;
      z-index: 2;
    }

  }

}

.hero-landing {
  color: #fff;
  padding: 8rem 0;
}

.landing-title {
  font-size: 1.2rem;
  color: var(--dark-blue)
}

.inner-header {
  padding: 2.5rem 0 1rem;
  color: var(--dark-blue);

  .header-wrap {
    border-bottom: 1px solid #d8d8d9;
  }
}

.capability-row {
  margin-top: 10rem;
}

.capability-card {
  position: relative;

  &:before {
    content: "";
    width: 280px;
    height: 280px;
    display: inline-block;
    z-index: -1;
    background: transparent url(assets/imgs/capabilityBg.png) no-repeat;
    background-size: auto;
    background-size: 100% auto;
    position: absolute;
    top: -89px;
    right: -25px;
  }
}

.hero-subtitle {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.main-menu-mobile li {
  position: relative;
}

.breadcrumb {
  font-size: small;
  white-space: nowrap;
  flex-wrap: inherit;
  overflow: auto;

  .breadcrumb-item + .breadcrumb-item::before {
    float: unset;
  }

  .breadcrumb-item {
    color: var(--light-gray);

    &.active {
      color: var(--dark-blue);
    }

    a:hover {
      color: var(--dark-blue);
    }
  }

  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 0, .08), rgba(255, 255, 255, 0)),
  linear-gradient(to left, rgba(0, 0, 0, .08), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.footer-single {
  background-color: var(--light-gray-background);
  padding: 0.8rem;

  .share-social {
    a {
      color: var(--dark-gray);
      padding: 0.4rem;
      margin-right: 1rem;
      display: block;
      transition: all 0.3s;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.comment-section {
  padding-top: 3rem;
}

.section-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.related-posts {
  padding: 5rem 0;
}
.insights-category{
  a{
    display: inline-block;
    padding: 7px 10px;
    background: var(--light-gray-background);
    border-radius: 30px;
    color: var(--dark-gray);
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 13px;
    border: 1px solid var(--light-gray-background);
    margin-bottom: 10px;
    transition: all 0.3s;
    &:hover{
      border-color: var(--primary-color);
      background-color: #fff;
      color:var(--primary-color)
    }
  }
}
.with-border{
  border-bottom: 1px solid var(--light-gray);
}
.comment-respond {

  padding-bottom: 1.5rem;

  input, textarea {
    padding: 1rem;
    background-color: var(--light-gray-background);
    border-color: var(--light-gray-background);
    margin-bottom: 1rem;

    &:focus {
      border-color: var(--primary-color);
    }

    &::placeholder {
      color: var(--dark-gray);
    }
  }

  .submit-btn {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: var(--dark-blue);
    }
  }
}

.shortLink {
  color: var(--primary-color);
  transition: all 0.3s;

  &:hover {
    color: var(--dark-blue);
  }
}

.main-menu-mobile li > a {
  display: block;
  padding: 0.9rem 0;
  width: 80%;
}

#searchModal {
  input.form-control {
    //padding: 1rem;
    color: var(--dark-gray);
  }

  #searchsubmit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 3rem;

  }

  select {
    background-color: #eee;
  }

  input.form-control, select {
    border-color: #eee;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

.home-title {
  color: var(--dark-blue);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.solution-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: lighter;
}

p {
  color: var(--dark-gray);
  font-weight: 400;
}

.solution-card {
  p {
    margin-bottom: 1.5rem;
  }
}

.more-solution-btn {
  color: var(--dark-blue);
  padding: 5px 10px;
  font-weight: 600;
  transition: all 0.2s;

  i {
    @extend .more-solution-btn;
    vertical-align: middle;
    font-size: small;
    font-weight: 300;
  }

  &:hover {
    color: var(--secondary-color);

    i {
      color: var(--secondary-color);
    }
  }
}

.home-slider {
  p {
    color: #fff;
  }
}

.hamburger-menu-btn {
  font-size: x-large;
  color: var(--secondary-color);

  i {
    vertical-align: middle;
  }

  &:hover {
    color: var(--secondary-color);
  }
}

#searchModal {
  .modal-content {
    padding: 0.6rem 0;
  }

  .form-control, .form-select, #searchsubmit {
    height: 3.8rem;
  }

  .form-control, .form-select {
    &:focus {
      border-color: var(--primary-color);
    }
  }
}

.solution-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  p, .solution-title {
    flex-grow: 1;
  }

  .solution-image {
    img {
      width: 100%;
    }
  }
}

.home-about {
  .about-image {
    position: relative;
    z-index: -1;
  }
}

.skill-img {
  position: sticky;
  top: 0;
}

.skill-title {
  color: var(--dark-blue);
  font-weight: bold;
}

.skills-cards {
  p {
    position: relative;
    @include circleBefore(red);

    &::before {
      color: var(--primary-color);
      left: -1.5rem;
    }
  }
}

.skill-content {
  padding-right: 0.8rem;
}

.all-blog, .all-post {
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s;

  i {
    color: var(--secondary-color);
  }

  &:hover {
    color: var(--secondary-color);
  }
}

.col-start {
  .card-default-image {
    img {
      clip-path: polygon(7% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 10%);
    }
  }
}

.col-end {
  .card-default-image {
    img {
      clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 15%)
    }
  }
}

.card-title {
  a {
    color: var(--dark-gray)
  }
}

.podcast-card-wrap {
  padding: 30px 35px;
  position: relative;
  color: #fff;
  background-image: url(assets/imgs/podcast-bg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;

  p {
    color: inherit;
  }
}

.podcast-number {
  padding: 0.8rem;
  line-height: 1;
  font-size: x-large;
}

#home-podcast {
  .sahab-btn {
    i {
      color: #fff;
    }
  }
}

#home-cta {
  .cta-image-wrap {
    img {
      clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 15%)
    }
  }
}

footer {
  padding-top: 7rem;
  padding-bottom: 3rem;
  color: var(--dark-gray);

  i {
    color: var(--dark-blue);
    font-size: x-large;
    margin-right: 1rem;
  }

  .footer-title {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .contact-item {
    margin-bottom: 1.5rem;

    i {
      position: relative;
      @include before-footer-menu($before-footer-menu);

      &:after {
        transform: rotate(180deg);
      }
    }

    small {
      color: var(--light-gray);
      font-size: inherit;
    }

    a {
      transition: all 0.3s;

      &:hover {
        color: var(--primary-color)
      }
    }
  }

  .contact-item:last-child {
    i {
      &:after {
        transform: unset;
      }
    }
  }

  .footer-menu {
    li {
      a {
        padding: 0.2rem 0;
        display: block;
        transition: all 0.3s;

        &:before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: var(--secondary-color);
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 8px;
        }

        &:hover {
          color: var(--secondary-color)
        }
      }
    }
  }

  .social-wrap {
    a {
      display: block;
      position: relative;
      @include before-footer-menu($before-footer-menu);
      transition: all 0.3s;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .footer-copyRight {
    border-top: 1px solid var(--light-gray);
    font-size: medium;

    p {
      direction: ltr;
      text-align: end;
    }
  }
}

.inner-footer {
  .container {
    position: relative;

    &:before {
      content: '';
      border-top: 1px solid var(--light-gray);
      height: 1px;
      width: 100%;
      background-color: var(--light-gray);
      position: absolute;
      top: -70px;
      left: 0;
      right: 0;
    }
  }
}

.capability-title, .capability-subtitle {
  color: var(--purple-color);
}

.small-btn {
  min-width: 100px;
  background-color: #fff;
  color: var(--purple-color);
  font-size: small;
  box-shadow: 0 0 5px #00000038;
  display: inline-block;
  padding: 8px 10px 5px;
  line-height: 1;
  font-weight: 700;
  transition: all 0.3s;

  i {
    vertical-align: middle;
  }

  &:hover {
    color: var(--dark-blue)
  }
}

.capability-card {
  margin-bottom: 11rem;
  display: flex;
  flex-direction: column;

  .image-wrap {
    max-width: 7rem;

    img {
      width: 100%;
    }
  }

  .capability-title {
    position: relative;
    margin-bottom: 1rem;

    &:before {
      position: absolute;
      left: -2rem;
      content: '\f058';
      font-family: "Font Awesome 6 Pro";
      color: var(--secondary-color);
    }
  }

  ul {
    li {
      color: var(--dark-gray);
      padding: 0.2rem;

      &:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        background-color: var(--purple-color);
        margin-right: 8px;
      }
    }
  }
}

.single-title {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.top-article {
  font-weight: 400;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #efefef;

  a {
    transition: all 0.2s;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.advantage-item {
  margin-bottom: 2rem;
}

.top-article {
  color: var(--dark-gray);
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
  margin-bottom: 1.2rem;
}

.sidebar-btn {
  color: #fff;
  background-color: var(--dark-blue);
  width: 100%;
  font-weight: 500;

  &:hover {
    color: var(--dark-blue);
  }
}
.sahab-testimonial-swiper{
  .swiper-wrapper{
    padding-bottom: 5rem;
  }
  .swiper-slide{
    .testimonial-image{
      margin-bottom: 1rem;
      img{
        max-width: 35%;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
        padding: 5px;
      }
    }

    .testimonial-desc{
      display: flex;
      flex-direction: column;
      span:not(.testimonial-desc){
        color: var(--dark-blue);
      }
      .testimonial-desc{
        color: var(--dark-gray);
      }
    }
  }

}
.sidebar-offcanvas {
  width: 18rem;

  .offcanvas-header {
    background-color: var(--light-gray-background);
  }
}

.sidebar-list {
  &:not(:last-child) {
    border-bottom: 1px solid #efefef;
  }

  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;

  li {
    a {
      position: relative;
      color: var(--dark-blue);
      padding: 0.5rem 0;
      display: block;
      transition: all 0.3s;
      font-size: 1.1rem;

      &:before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        background-color: var(--secondary-color);
        border-radius: 50%;
        margin-right: 8px;
      }

      &:hover {
        color: var(--primary-color);
      }

    }

    &:first-child {
      .card-default-image::before {
        content: none;
      }
    }
  }
}

.series-section {
  background-color: var(--light-gray-background);
  border-radius: 1rem;
  padding: 2rem;

  ul {
    counter-reset: my-sec-counter;
    li {
      a {
        position: relative;
        padding: 0.4rem 0;
        display: block;
        color: var(--dark-blue);

        &::before {
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter);
        }

        &:before {
          width: 25px;
          height: 25px;
          background-color: #fff;
          margin-right: 15px;
          text-align: center;
          line-height: 25px;
          display: inline-block;
          border-radius: 50%;
        }

        &:hover {
          color: var(--primary-color);
        }
      }

      &.active {
        a {
          color: var(--secondary-color);

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.default-editor {
  .default-editor-list {
    background-color: var(--light-gray-background);
    font-weight: 400;

    li {
      &:before {
        content: none;
      }

      a {
        color: var(--primary-color);
        padding: 0.2rem 0;
        display: inline-block;
        border-bottom: 1px dashed transparent;

        &:hover {
          border-color: var(--primary-color);
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-weight: bold;
    margin: 1.5rem 0;
  }

  p {
    color: #414141;
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 0.5rem;

    li {
      position: relative;
      color: var(--dark-gray);
      margin-bottom: 1rem;

      &:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        background: var(--primary-color);
        margin-right: 8px;
        border-radius: 30px;
      }
    }
  }

  .default-editor-list {

  }
}

.default-item {
  margin-bottom: 2rem;

  .default-card {
    .default-card-title {
      a {
        color: var(--dark-blue)
      }
    }
  }

  .card-default-image {
    margin-bottom: 2rem;
    display: block;

    img {
      width: 100%;
    }
  }
}

#platform {
  .platform-item {
    width: 70%;
    margin-bottom: 5rem;
    text-align: center;

    .platform-image {
      margin-bottom: 1.5rem;
    }

    .platform-title {
      color: var(--primary-color);
    }
  }
}

.rounded-shadow{
  border-radius: 50%;
  box-shadow: 0 0 10px #00000021;
}

.social-networks-buttons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;

  a {
    border-radius: 1.1rem;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.5rem;
    color: #fff;

    &.whatsapp-fixed-button {
      background: linear-gradient(45deg, #e5ffcc, #1ebea5, #00e676, #d0e9ea);
    }

    &.instagram-fixed-button {
      background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    }

    &.youtube-fixed-button {
      background: linear-gradient(to bottom right, red, #bc2e36);
    }

    &.phone-fixed-button {
      background: linear-gradient(to bottom right, #009FFD, #2A2a72);
    }

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}

.map-wrapper {
  position: relative;
}

.hotspot-content {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 15rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
  top: 4rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  img {
    max-width: 7rem;
  }

  .entities-title {
    font-size: 1.2rem;
  }

  .hotspot-more-btn {
    color: #fff;
    background: linear-gradient(90deg, var(--secondary-color), #ff8f00);
    font-weight: bold;
    padding: 0.4rem 1rem;
    &:hover{
      box-shadow: inset 0 0 200px rgba(0,0,0,.1);
    }
  }
}

.hotspot-sonar {
  position: absolute;

  .hotspot-btn {
    box-shadow: inset 100px 100px transparent;
    background-color: var(--secondary-color);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
    animation:2s infinite wd-Pulse;
    &:after {
      content: "";
      position: absolute;
      transition: all .3s ease;
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      animation:2s infinite wd-Pulse;
    }
  }

  @keyframes wd-Pulse {
    0%,
    100% {
      transform:scale(1)
    }
    50% {
      transform:scale(1.2)
    }
  }
  &:hover {
    .hotspot-content {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }

}

.home-skills2{
  .skills-content-wrap{
    position: sticky;
    top: 30%;
    //transform: translateY(-50%);
  }
}

.hearing-rocket {
  overflow: hidden;
  font-weight: 400;
  .swiper-button-prev,.swiper-button-next{
    //position: relative;
    &:after{
      font-size: small;
      font-weight: bold;
    }
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 0;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 0;
  }
  .hearing-rocket-swiper {
    .swiper-wrapper {
      transform: none !important;

      .swiper-slide {
        display: flex;
        height: 100%;
        flex-grow: 1;
      }
    }

    .swiper-slide-active {
      .swiper-slide-shadow {
        opacity: 0 !important;
      }
    }

    .swiper-slide-shadow {
      opacity: 0.1 !important;
    }

    .swiper-slide {
      border-radius: 0.7rem;
      //background-color: #fff;

    }

    .rocket-review {
      padding: 2rem;
      min-height: 285px;
      background-color: #fff;
      //box-shadow: 0 1.60568px 61.0158px rgba(0, 0, 0, .05);
      box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000;

      p {
        color: var(--dark-gray);
        text-align: center;
        line-height: 2;


      }

      .user-img {
        img {
          width: 4rem;
          height: 4rem;
          border: 1px solid var(--dark-gray);
          border-radius: 50%;
          padding: 0.1rem;
          object-fit: cover;
        }
      }
    }
  }
  .swiper-button-next4,.swiper-button-prev4{
    font-size: small;
    color: var(--secondary-color);
  }
}
@media(min-width: 576px) {
  .blue-layer {
    background: transparent url('assets/imgs/slider-bg.svg') no-repeat;
    background-size: auto;
    background-size: cover;
    width: 335px;
    height: 320px;
    position: absolute;
    left: 0;
    bottom: 30%;
    //transform:translateY(50%) scaleX(-1);
    transition: all 0.5s;
  }
}

@media (min-width: 768px) {
  .skills-content-wrap {
    padding: 25px 30px;
  }
  .solutions-box {
    padding: 25px;

    p {
      font-size: 1.8rem;
    }
  }
  .about-box-wrap {
    p {
      position: relative;
      @include circleBefore(#000);

      &::before {
        color: var(--secondary-color);
        font-size: 3rem;
        left: -4rem;
      }
    }
  }

}

@media (min-width: 992px) {
  .skills-content-wrap {
    padding: 40px 25px;
  }
  .home-about {
    .about-image {
      transform: translateX(50px);
    }
  }
  .carousel-caption {
    width: 35%;

    .carousel-title {
      max-width: 80%;
    }
  }
  .solution-card {
    padding: 15px 25px;
  }
  .advantage-title {
    font-size: 1.1rem;
  }
  .capability-card {
    padding-left: 7rem;
  }
  .capability-card {
    margin-bottom: 11rem;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .skills-content-wrap {
    padding: 70px 64px;
  }
  .nav-wrap {
    a {
      font-size: 1rem;
    }
  }
  .solution-card {
    padding: 15px 45px;
  }
  .solutions-box {
    padding: 45px 60px;
    background-size: 100% auto;
    height: auto;
  }
  .skills-intro, .skills-cards {
    margin-bottom: 7rem;
  }
  .podcast-card-wrap {
    padding: 30px 45px;
  }
}

@media (min-width: 1400px) {
  .skills-content-wrap {
    padding: 70px 230px 70px 64px;
  }
}

@media (max-width: 1200px) {
  .nav-wrap {
    a {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 768px) {
  .series-section {
    padding: 1rem;
  }
  .logo-wrap {
    max-width: 7rem;
  }
  .solutions-box {
    p {
      font-size: 1.2rem;
    }
  }
  .footer-copyRight {
    margin-top: 3rem;
  }
}

@media (max-width: 992px) {
  .podcast-card-wrap {
    position: relative;

    .podcast-number {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
@media (min-width: 768px) {
  .sahab-testimonial{
    .swiper-slide-active + .swiper-slide{
      opacity: 1;
    }
    .swiper-slide{
      opacity: 0.5;
    }
  }

}