$primary-color: #0074ff;
$secondary-color: #fcb913;
$dark-blue: #171279;
$light-gray: #bebebe;
$dark-gray: #717171;
$error-color: #ff0202;
$light-gray-background:#f7f7f7;
$before-footer-menu: fcb913;
$purple:#76327c;
