@font-face {
    font-family: YekanBakh;
    font-weight: 100;
    src: url('../fonts/Yekan Bakh FaNum 02 Thin.woff');
}
@font-face {
    font-family: YekanBakh;
    font-weight: 300;
    src: url('../fonts/Yekan Bakh FaNum 03 Light.woff');
}
@font-face {
    font-family: YekanBakh;
    font-weight: 400;
    src: url('../fonts/Yekan Bakh FaNum 04 Regular.woff');
}
@font-face {
    font-family: YekanBakh;
    font-weight: 500;
    src: url('../fonts/Yekan-Bakh-FaNum-05-Medium.woff');
}
@font-face {
    font-family: YekanBakh;
    font-weight: 700;
    src: url('../fonts/Yekan Bakh FaNum 06 Bold.woff');
}
@font-face {
    font-family: YekanBakh;
    font-weight: 900;
    src: url('../fonts/Yekan Bakh FaNum 07 Heavy.woff');
}